<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NoteBook</title>
</head>
<body>
  <div id="root">
    <div id="create-note"></div>
    <div id="list"></div>
    <div id="note"></div>
  </div>
  

  <script src="../lib/PrincessDTests.js"></script>
  <script src="../render.js"></script>
  <script src="../src/model/Note.js"></script>
  <script src="../src/model/Notebook.js"></script>
  <script src="../script.js"></script>

</body>
</html>
